html,
body {
  height: 100%;
}

#__nuxt,
#__layout,
#__chakra-app {
  height: 100%;
}

.js-focus-visible {
  a:focus:not(.focus-visible),
  button:focus:not(.focus-visible) {
    outline: none;
    box-shadow: none;
  }
}
